/*
Theme Name: hieublog-child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: hieu
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

.tilte-header{
	color: blue;
	font-size: 20px;
	font-weight:bold;
		
}

.title-content{
	color: black;
	font-size: 15px;
	font-weight: bold;
		
}
div#content.content-area{
	background-color: black;
}
